<!--<app-navbar></app-navbar>-->

<!--<app-sibar></app-sibar>-->

<!--<app-test></app-test>-->

<!--<app-test-ng></app-test-ng>-->

<!--<app-ng-if></app-ng-if>-->

<!--<app-ng-for></app-ng-for>-->

<!--<app-ng-input className="text-center text-danger" text="vũ đẹp trai"></app-ng-input>-->
<!--<app-ng-input className="text-right text-success" text="ahoho"></app-ng-input>-->

<!--<div [ngClass]="abc">view parent: {{ i }}</div>-->
<!--<div>view chil: <app-ng-output (myClick)="change($event)"></app-ng-output></div>-->

<!--<app-ng-output></app-ng-output>-->

<!--<app-parent></app-parent>-->

<!--<app-ng-content>-->
<!--  <h3 class="header">đây là header</h3>-->
<!--  <h4 class="body">đây là body</h4>-->
<!--</app-ng-content>-->

<!--<app-ng-pipes></app-ng-pipes>-->

<!-- <app-ng-service></app-ng-service> -->

<!-- <app-buoi5></app-buoi5> -->

<app-ng-form></app-ng-form>

<!-- <a routerLink="/contacts">contacts</a><br><a routerLink="/category">category</a>
<br>
<a routerLink="admin/home">Admin</a>
<br>
<a routerLink="admin/login">Login admin</a><br>
<a routerLink="user/home">User</a><br>
<a routerLink="user/login">User login</a>
<router-outlet></router-outlet> -->

<!-- <app-th1></app-th1> -->